// Here goes your CSS
@import 'layout/main';

$popup-background: #fff;
$button-font: #fff;
$button-background: #000;
$button-hover: #f00;
$checkbox-color: #000;

.popup {
  background-color: $popup-background;
  border-radius: 10px;
  display: none;
  font-size: 16px;
  height: 360px;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 310px;

  & h1 {
    font-family: 'Lobster', cursive;
  }

  & .popup-form {
    padding-top: 25px;

    & input:nth-child(-n + 3) {
      border: solid 2px;
      display: block;
      height: 40px;
      margin: 20px auto;
      padding: 0 20px;
      width: 200px;
    }

    & .agreement-box {
      & input[type='checkbox'] {
        cursor: pointer;
        display: none;
        height: initial;
        width: initial;
      }

      & label {
        cursor: pointer;
        position: relative;
      }

      & label::before {
        -webkit-appearance: none;
        appearance: none;
        background-color: transparent;
        border: solid 2px $checkbox-color;
        content: '';
        cursor: pointer;
        display: inline-block;
        margin-right: 10px;
        padding: 10px;
        position: relative;
        vertical-align: middle;
      }

      & input[type='checkbox']:checked + label::after {
        border: solid 2px $checkbox-color;
        border-width: 0 2px 2px 0;
        content: '';
        display: block;
        height: 14px;
        left: 8px;
        position: absolute;
        top: 2px;
        transform: rotate(45deg);
        width: 6px;
      }
    }

    & .form-submit {
      background-color: $button-background;
      border: 0;
      color: $button-font;
      cursor: pointer;
      display: block;
      font-weight: 600;
      height: 40px;
      margin: 30px auto;
      text-transform: uppercase;
      width: 240px;

      &:hover {
        background-color: $button-hover;
        opacity: .5;
      }
    }
  }
}

.close-popup-form {
  align-items: center;
  background-color: $button-background;
  border-radius: 50%;
  border-width: 0;
  color: $button-font;
  cursor: pointer;
  display: flex;
  font-size: 24px;
  font-weight: 700;
  height: 32px;
  justify-content: center;
  position: absolute;
  right: -5px;
  top: -5px;
  width: 32px;
}

.alert {
  background-color: transparent;
  border: solid 2px;
  border-radius: 10px;
  color: $button-font;
  display: none;
  font-weight: 600;
  height: 30px;
  margin: auto;
  position: relative;
  text-shadow: 1px 1px #000;
  top: 20px;
  width: 310px;

  & p {
    margin: 0;
    padding: 5px 0;
  }
}
